#content {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

#ramdom-fact-container {
  margin-top: 1.25rem;
}

#navbar {
    overflow: hidden;
    background-color: black;
}

#navbar a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a.active {
    background-color: coral;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 5rem;
}