body {
  font-family: "Open Sans", sans-serif;
  line-height: 2.5;
}
#content {
  margin: 5rem auto auto auto;
  padding-bottom: 1rem;
  width: 80%;
}

.random-fact {
  margin: 10rem 10rem;
  padding: 5rem 5rem;
}

#ramdom-fact-container {
  padding: 5rem 5rem;
}

.expandable {
  background-color: peachpuff;
  font-size: 1rem;
  padding: 1rem;
  text-align: left;
  width: 100%;
}

.expandable-content {
  background-color: lightgray;
  color: black;
  display: none;
  overflow: hidden;
  padding: 0rem 1rem;
}

.expandable:after {
  color: black;
  content: "+";
  float: right;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.expandable.active:after {
  content: "-";
}

.select-tab {
  background-color: aliceblue;
  border: 0.1rem solid gainsboro;
  color: black;
  float: left;
  outline: none;
  padding: 1rem 1rem;
  width: 25%;
}

.tab-content {
  display: none;
  padding: 0.5rem 1rem;
  width: 100%;
}

#navbar {
  background-color: black;
  overflow: hidden;
}

#navbar a {
  color: gray;
  display: block;
  float: left;
  padding: 0.8rem;
  text-align: center;
  text-decoration: none;
}

#navbar a.active {
  background-color: peachpuff;
  color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 5rem;
}

#recommender-system {
  background-color: peachpuff;
}

#swe-dev-portal {
  background-color: oldlace;
}

#five-minutes-a-day {
  background-color: lavender;
}

#uc-brainstorm {
  background-color: pink;
}

.center {
  display: block;
  margin: 0 auto;
}

.speech-bubble {
  padding: 0.3rem 0.3rem;
  position: relative;
  background: peachpuff;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1.25rem solid transparent;
  border-right-color: peachpuff;
  border-left: 0;
  margin-top: -1.25rem;
  margin-left: -1.25rem;
}
