#content {
  margin: 5em auto auto auto;
  width: 50rem;
}

#ramdom-fact-container {
  margin-top: 1.25rem;
}

#navbar {
  background-color: black;
  overflow: hidden;
}

#navbar a {
  color: gray;
  display: block;
  float: left;
  padding: 0.8rem;
  text-align: center;
  text-decoration: none;
}

#navbar a.active {
  background-color: coral;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 5rem;
}